.navbar-garden {
    background-color: rebeccapurple;
    border: none !important;
    border-radius: 0px !important;
}

.navbar-brand-garden {
    color: lawngreen;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}